* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
}

.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 25px 0px 15px 0px;
}

.metodo {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  padding: 0px 0px 20px 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.input {
  padding: 15px;
  font-size: 1.2rem;
  width: 65%;
}

.buttondiv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0px 50px 0px;
}

.button {
  width: 35%;
  padding: 5px;
  background-color: #555;
  height: 50px;
  font-size: 1.2rem;
  color: #000;
  font-weight: 800;
}