* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.body {
  display: flex;
  flex-direction: column;
  background-image: url(https://1.bp.blogspot.com/-q9XEOxUvI8o/Xd3OJ0qfggI/AAAAAAAAgdg/WyEFyh1vUd8v0mEu6UrrPmrqtSaeFxFXACLcBGAsYHQ/s2560/space-colorful-art-4k-a4-2560x1440.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.width30 {
  width: 30%;
}

.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 20px 0px 0px 0px;
  color: #fff;
  text-shadow: 4px 5px black;
}

.metodo {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  padding: 0px 0px 20px 0px;
  color: #fff;
  text-shadow: 2px 5px black;
}

.formdiv {
  align-items: center;
  justify-content: space-evenly;
  width: 98%;
}

.main {
  padding: 0px 20px;
}

.buttondiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}

.button {
  width: 35%;
  padding: 5px;
  font-weight: 800;
}

footer img {
  height: 30px;
  width: 30px;
}

.linkfooter{
  text-decoration: none;
  color: #fff;
}

.linkfooter:hover{
  color: red;
  transition: ease-in-out 0.5s;
}

.footerb {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footerbtn{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 40px !important;
  border-color: #000 !important;
}

.footergithub{
  background-color: #fff !important;
}

.footersec{
  display: flex;
  align-items: center;
  justify-content: center;
}

.results {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container > span, #estacas, #quantidade {
  color: whitesmoke;
  font-weight: 800;
}

.container {
  padding-top: 15px;
}

@media screen and (max-width: 980px){
  
  .media{
    width: 100%;
    justify-content: center;
    border-radius: 10px !important;
    }
 
    .footerb {
      position: relative;
    }

}